body
{
    background-color: #87888d26;
}

.main
{
    margin-top: 64px;
}

.top-nav-collapse, .navbar:not(.top-nav-collapse), footer, #latestPosts
{
    background-color: #dee2e6 !important;
}

h1, .fas, .text-blue
{
    color: #6e96b4;
}

h1
{
    letter-spacing: 5px;
}

#blog .card-body
{
    height: 172px;
    overflow: hidden;
}

.btn-info, .btn-primary, .btn-light
{
    background-color: #6e96b4 !important;

}

@media (max-width: 600px)
{
    .main
    {
        margin-top: 56px;
    }
}